/*-- scss:defaults --*/

:root {
  --color-fondo: #23102B;
  --color-texto: #B39CCD;
  --color-enlaces: #9F69C8;
  --color-destacado: #31193f;
  --color-destacado-2: #47215E;
  --color-destacado-3: #724BE7;
}

$body-bg: #23102B;
$body-color: #B39CCD;
$link-color: #9F69C8;

h1.title, .title.h1 { 
  margin: 24px; margin-top: 24px; margin-left: 30px; color: var(--color_enlaces); 
}

body {
  background-color: var(--color_fondo);
}

a {
  color: var(--color_enlaces);
}

.card {
  a {
    text-decoration: none !important; 
    color: none !important;
  }
}

a:hover {
  color: #724be7;
  text-decoration: none !important; 
}

h1{
  color: var(--color_texto);
}

h3 {
  margin-top: 8px !important;
}

// ocultar icono de links
.anchorjs-link {
  display:none 
}

.cajas:hover {
  filter: brightness(120%); transition: 0.3s
}

.icono_claro:hover {
  filter: brightness(90%) saturate(140%); transition: 0.4s
}

.quarto-title-meta-heading {
  display: none; 
}

.quarto-title-meta-contents {
  margin-left: 30px; margin-top: 6px; margin-bottom: 12px; color: var(--color_texto);
}
  
// color hover toolbar
.navbar-brand:hover, .nav-link:hover, .quarto-navigation-tool:hover, .navbar-brand:focus {
  color: var(--color_texto) !important; 
}

// colores de la animación de fondo
@keyframes pulse {
  from {background-color: var(--color_destacado_2);
  }
  to {background-color: var(--color_destacado);
  } 
}


.titulo_app {
  text-align: center;
}